html, body {
   height: 100%;
   margin: 0;
   padding: 0;
        }

body::before {
   content: "";
   position: fixed;
   top: 0; left: 0; right: 0; bottom: 0;
   background: url("knight_background_gpt.png") no-repeat center center fixed;
   background-size: cover;
   filter: blur(5px); /* Flou appliqué ici */
   z-index: -1;
 }

body {
    font-family: sans-serif;
    color: white;
    padding: 2rem;
}

#texte {
    border: 4px white solid;
    background: rgba(0, 0, 0, 0.4); /* semi-transparent noir */
    padding: 1rem;
    border-radius: 16px;
    margin: 8px;
    position: relative;
}
a, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none; /* Optionnel : enlève le soulignement */
}


p:has(a)::before {
    content: "➤ ";
    margin-right: 0.5em;
    margin-left: 50px;
}

#combat_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px; /* espace horizontal entre les deux boîtes */
    margin: 8px;
}

#box_fight {
    position: relative;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    background: url("fond_bataille.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border: 4px white solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    height: 240px;
}

#box_inventory {
    width: 22%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border: 4px white solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    height: 450px;
    margin-bottom: 20px;
}

#chevalier{
    position: absolute;
    width: 220px;
    height: auto;
    left: 5%;
    top: 20%;
}

#ennemy{
    position: absolute;
    width: 220px;
    height: auto;
    flex-direction: row;
    margin-left: 10px;
    left: 60%;
    top: 18%;
    display: none;
}

#monster{
    position: absolute;
    width: 160px;
    height: auto;
    flex-direction: row;
    margin-left: 10px;
    left: 60%;
    top: 36%;
    display: none;
}

#box_inventory h1{
    color: rgba(247, 69, 4, 0.988);
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: 10cap;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
}

#inventaire{
    position: absolute;
    left: 77%;
    top: 74%;
    display: flex;
    width: 250px;
    height: 350px;
    border-radius: 20px;
}
